
    .to-blue-500 {
      --tw-gradient-to: #3b82f6 var(--tw-gradient-to-position);
    }
  
    /* Update the body to use the Poppins font */
    body {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
    }
  
    .from-cyan-500 {
      --tw-gradient-from: #06b6d4 var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(6 182 212 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
  
    .bg-gradient-to-r {
      background-image: linear-gradient(to right, var(--tw-gradient-stops));
    }

    .swiper-button-next, .swiper-button-prev{
      color: #fff !important;
    }
    [x-cloak] {
      display: none !important;
    }

    .fixed-header {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       background-color: #fff; /* Blue color */
       color: white;
      
       z-index: 10;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
   